
.cabecalho, .a {
    
    align-items: center;
    background: #E7F500;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: .2rem 0;
}
.logo {
    width: 40px;
}
.menu__lista {
    display: none;
    flex-wrap: wrap;
    
}
.menu__item {
    padding-right: 1.5rem;
}
.menu__item:last-child .menu__link {
    margin-right: 0;
}
.menu__link {
    border-radius: 30px;
    padding: .3rem .8rem ;
    color: #333;
    font-size: 20px;
    transition: 1s;
}                                           
.menu__link:hover {
    background-color: #333;
    color: #E7F500;
}
.menu__link.ativo {
    background-color: #363533;
    color: #E7F500;
    font-weight: bold;
}
.hamburger {
    width: 20px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {
    .menu__lista {
        display: flex;
    }
    .hamburger {
        display: none;
    }
    
}


