.certificados {
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    border-bottom: 1px solid #EB602D;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top: 1px solid #EB602D;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    align-items: center;
    padding: 3rem 0rem;
    transition: 1s;
}
.certificados:hover {
    box-shadow: 0 0 20px #EB602D;
}
.certificado__titulo {
    color: #F2F5F7;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.meus__certificados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.certificado__lista {
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    grid-template-columns: auto;
   
   

}
.certificado__item {
    background: #EB602D;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    transition: 1s;

}
.certificado__item:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 20px;
}
.embreve {
    background:  #EB602D;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.certificado__imagem {
    width: 90%;
    border-radius: 10px;
}
.embreve__imagem {
    width: 20%;
    padding-bottom: 2rem;
}
.embreve__titulo {
    font-size: 2rem;
    color: #21252A;
    line-height: 1.5;
}
.embreve__descricao {
    text-align: center;
    font-size: 1.5rem;
    color: #252525;
}

@media screen and (min-width: 768px) {
    .certificado__lista {
        grid-template-columns: auto auto;
    }  
}
@media screen and (min-width: 1024px) {
    .certificados {
        padding: 3rem;
    }
    .meus__certificados {
        width: 1300px;
    }
    .certificado__lista {
        grid-template-columns: auto auto auto;
    }
    .certificado__item:hover {
        box-shadow: 0 0 20px #F2F5F7;
    }
    .certificado__titulo {
        font-size: 3rem;
        padding-bottom: 3rem;
    }
    .button__certificado {
        font-size: 1.5rem;
    }
}
