.portfolios {
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    padding: 3rem 0;
    align-items: center;
 
}
.portfolio__conteudo {
    display:grid;
    grid-gap: 30px;
    grid-template-columns: auto;
    
}
.portfolio {
    box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.3);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    transition: 1s;
    border-radius: 10px;
    align-items: center;
}
.marrom {
    background-color: #393232;
}
.portfolio:hover {
    transform: translateY(-15px);
}
.portfolio__imagem {
    width: 70%;
}
.portfolio__titulo {
    font-size: 2rem;
    color: #333;
    text-align: center;
    padding-bottom: 2rem;
}
.portfolio__descricao {
    color: #E7F500;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.marrom__desc {
    color: #333;
}
@media screen and (min-width: 768px) {
    .portfolio__conteudo {
        grid-template-columns: auto auto;
    }
    
}
@media screen and (min-width: 1024px) {
    .portfolios {
        padding: 3rem;
    }
    .portfolio__conteudo {
        grid-template-columns: auto auto auto;
    }
    .portfolio__titulo {
        font-size: 3rem;
    }
    .portfolio__descricao {
        font-size: 2rem;
    }
}