.sobre {
    align-items: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 5rem;
}
.sobre__conteudo {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}
.sobre__titulo {
    color: #333;

}
.sobre__descricao {
    color: #7A7A7A;
 
}
strong em {
    color: #393232;
}
@media screen and (min-width: 0) {
    .sobre {
        padding: 3rem 2rem;
    }
    .sobre__titulo {
        font-size: 2rem;
        padding-bottom: 3rem;
    }
    .sobre__imagem {
        width: 50%;
        max-width: 200px;
        padding-bottom: 2rem;
    }
    .sobre__descricao {
        font-size: 1.4rem;
        text-align: justify;
        line-height: 1.4;
        max-width: 400px;
    }
}
@media screen and (min-width: 768px) {
    .sobre__imagem {
        padding: 0;
    }
}
@media screen and (min-width: 1024px) {
    .sobre {
        padding: 5rem 0;
    }
    .sobre__conteudo {
        width: 1300px;
    }
    .sobre__titulo {
        font-size: 2rem;
        padding-bottom: .5rem;
    }
    .sobre__descricao {
        font-size: 1.5rem;
        text-align: start;
        max-width: 500px;
    }
    .sobre__imagem {
        width: 100%;
        max-width: 350px;
    }
}
